!!!
%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css')
    %link(href='/st/css/styles.css' rel='stylesheet' type='text/css')
  %body
    .header
      %h1 Helpouts Graph
      %h4 Visualize your Google Helpouts sessions
    .submenu
      %ul
        %li
          Need help?
          %a(href='https://plus.google.com/+IanDouglas') Contact author on Google+
        %li(style='width:50px;') &nbsp;
        %li
          This project is
          %a(href='https://github.com/iandouglas/helpouts-graph') Open Source
          but not affiliated with Google in any way.
    .body-content
      %h1 404
      %p
        Sorry, that URL doesn't exist here.
