!!!
%html
  %head
    %title Your Helpouts Graph
    %script(src='//code.jquery.com/jquery-1.11.1.min.js')
    %script(src='//code.jquery.com/ui/1.11.0/jquery-ui.min.js')
    %script(src='/st/js/underscore-min.js')
    %script(src='/st/js/mustache.js')
    %script(src='/st/js/murmurhash3_gc.js')

    %script(src='//d3js.org/d3.v3.min.js')
    %script(src='//dc-js.github.io/dc.js/js/dc.js')
    %link(rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css')
    %script(src='//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.7/crossfilter.min.js')
    %script(src='/st/js/d3.layout.cloud.js')

    {% if not error %}
    {% if csv_len > 1 %}
    %script(src='/st/js/charts.js')
    {% endif %}
    {% endif %}
    %link(rel='stylesheet' type='text/css' href='/st/css/charts.css')

  %body
    %p
      Your provider report will be cached in memory for about ten minutes. Every time you refresh
      this page, it will renew the cache for an additional ten minutes.
      %strong Your report is not stored in any permanent form!
      If you see an error saying 'your session may have ended' then you will need to upload
      your provider report again. I don't apologize for this inconvenience, I have no need or
      interest to store your data for anything.
    %p
      %a(href='/') Upload again
      %a(href='/graph') Graph all sessions
      %a(href='/graph/SUCCESSFUL') Graph only Successful sessions
      %a(href='/graph/UNSUCCESSFUL') Graph only Unsuccessful sessions
      %a(href='/graph/CANCELLED') Graph only Cancelled sessions
      %a(href='/graph/FUTURE') Graph only upcoming Scheduled sessions
    %hr
    {% if error %}
    %p
      Error: {{error|safe}}
    {% else %}

    {% if csv_len < 2 %}
    %p
      No data to graph, sorry.
    {% endif %}
    {% if csv_len < 1 %}
    %p
      Your session might have ended. We only store your data for 10 minutes. Please try to
      %a(href='/') upload your data again.
    {% endif %}

    #infobox
      #infodiv
    %div(style='clear:both')
    #calendarpanel.chartpanel
    %div(style='clear:both')
    #histpanel.chartpanel
    %div(style='clear:both')
    #jumbopiepanel.well.chartpanel
    %div(style='clear:both')
    #bigpiepanel.well.chartpanel
    %div(style='clear:both')
    #mediumpiepanel.well.chartpanel
    %div(style='clear:both')
    #smallpiepanel.well.chartpanel
    %div(style='clear:both')
    #wcpanel.chartpanel
    %div(style='clear:both')
    %textarea#raw_csv_data(style='display:none')
      {{raw_csv_data|safe}}
    {% endif %}
