!!!
%html
  %head
    %title Your Helpouts Graph
    %script(src='//code.jquery.com/jquery-1.11.1.min.js')
    %script(src='//code.jquery.com/ui/1.11.0/jquery-ui.min.js')
    %script(src='/st/js/underscore-min.js')
    %script(src='/st/js/mustache.js')
    %script(src='/st/js/murmurhash3_gc.js')

    %script(src='//d3js.org/d3.v3.min.js')
    %script(src='//dc-js.github.io/dc.js/js/dc.js')
    %link(rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css')
    %script(src='//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.7/crossfilter.min.js')
    %script(src='/st/js/d3.layout.cloud.js')

    {% if not error %}
    {% if csv_len > 1 %}
    %script(src='/st/js/charts.js')
    {% endif %}
    {% endif %}
    %link(rel='stylesheet' type='text/css' href='/st/css/charts.css')

    %link(href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css')
    %link(href='/st/css/styles.css' rel='stylesheet' type='text/css')

  %body
    .header
      %h1 Helpouts Graph
      %h4 Visualize your Google Helpouts sessions
    .submenu
      %ul
        %li
          Need help?
          %a(href='https://plus.google.com/+IanDouglas') Contact author on Google+
        %li(style='width:50px;') &nbsp;
        %li
          This project is
          %a(href='https://github.com/iandouglas/helpouts-graph') Open Source
          but not affiliated with Google in any way.
    .body-content

      %p
        Your provider report will be cached in memory for about ten minutes. Every time you refresh
        this page, it will renew the cache for an additional ten minutes.
        %strong Your report is not stored in any permanent form!
        If you see an error saying 'your session may have ended' then you will need to upload
        your provider report again. I don't apologize for this inconvenience, I have no need or
        interest to store your data for anything.
      %ul
        %li
          %a(href='/') Upload a new Provider Report
        %li
          %a(href='/graph') Re-draw all graphs
      %hr
      {% if error %}
      %p
        Error: {{error|safe}}
      {% else %}

      {% if csv_len < 2 %}
      %p
        No data to graph, sorry.
      {% endif %}
      {% if csv_len < 1 %}
      %p
        Your session might have ended. We only store your data for 10 minutes. Please try to
        %a(href='/') upload your data again.
      {% endif %}

      #infobox
        #infodiv
      %div(style='clear:both')
      #calendarpanel.chartpanel
      %div(style='clear:both')
      #histpanel.chartpanel
      %div(style='clear:both')
      #jumbopiepanel.well.chartpanel
      %div(style='clear:both')
      #bigpiepanel.well.chartpanel
      %div(style='clear:both')
      #mediumpiepanel.well.chartpanel
      %div(style='clear:both')
      #smallpiepanel.well.chartpanel
      %div(style='clear:both')
      #wcpanel.chartpanel
      %div(style='clear:both')
      %textarea#raw_csv_data(style='display:none')
        {{raw_csv_data|safe}}
      {% endif %}

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-142829-32', 'auto');
      ga('send', 'pageview');
