!!!
%html
  %head
    %link(rel='stylesheet' type='text/css' href='http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css')
    %script(src='http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.min.js')
    %script
      payload = {{json}};

  %body
    hello
