<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='/st/css/styles.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='header'>
      <h1>Helpouts Graph</h1>
      <h4>Visualize your Google Helpouts sessions</h4>
    </div>
    <div class='submenu'>
      <ul>
        <li>
          Need help?
          <a href='https://plus.google.com/+IanDouglas'>Contact author on Google+</a>
        </li>
        <li style='width:50px;'>&nbsp;</li>
        <li>
          This project is
          <a href='https://github.com/iandouglas/helpouts-graph'>Open Source</a>
          but not affiliated with Google in any way.
        </li>
      </ul>
    </div>
    <div class='body-content'>
      <p>
        Step 1: Download your
        <a href='http://helpouts.google.com/api/providerreport'>Provider Report</a>
        in CSV format. You will need to be logged in on the same Google account
        that you use for providing Helpouts sessions.
      </p>
      <p>
        Step 2: Upload your provider report here. Click on 'Choose file' and select
        your provider report (check your Downloads folder), then click the 'upload'
        button:
        <form action='/graph' enctype='multipart/form-data' method='post'>
          <input class='upload' id='csv_upload' name='csv_upload' type='file'>
          <p>
            <button class='button' id='submit' type='submit'>upload</button>
          </p>
        </form>
      </p>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-142829-32', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
