!!!
%html
  %head
    <script src="lib/dc/d3.min.js"></script>
    <script src="lib/dc/crossfilter.min.js"></script>
    <script src="lib/dc/dc.min.js"> </script>
    <link rel="stylesheet" href="lib/dc/dc.css">
    <script src="lib/d3-cloud/d3.layout.cloud.min.js"></script>
  %body
    %form(method='post' action='/graph' enctype='multipart/form-data')
      %label(for='csv_upload') Upload your Helpouts file here:
      %input(type='file' name='csv_upload' id='csv_upload')
      %input(type='submit' value='upload')
