!!!
%html
  %head
    %title Helpouts Graph - Visualize your Provider data
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    %meta(name="mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-capable" content="yes")

    %link(rel="stylesheet" href="/st/css/styles.css")

    %script(src="/st/bower_components/platform/platform.js")
    %link(rel="import" href="/st/bower_components/core-header-panel/core-header-panel.html")
    %link(rel="import" href="/st/helpouts-graph-upload.html")

  %body(unresolved)
    %helpouts-graph-upload
