<!DOCTYPE html>
<html>
  <head>
    <script src="lib/dc/d3.min.js"></script>
    <script src="lib/dc/crossfilter.min.js"></script>
    <script src="lib/dc/dc.min.js"> </script>
    <link rel="stylesheet" href="lib/dc/dc.css">
    <script src="lib/d3-cloud/d3.layout.cloud.min.js"></script>
  </head>
  <body>
    <form action='/graph' enctype='multipart/form-data' method='post'>
      <label for='csv_upload'>Upload your Helpouts file here:</label>
      <input id='csv_upload' name='csv_upload' type='file'>
      <input type='submit' value='upload'>
    </form>
  </body>
</html>
