!!!
%html
  %head
  %body
    %p
      Step 1: Download your
      %a(href='http://helpouts.google.com/api/providerreport') Provider Report
      in CSV format. You will need to be logged in on the same Google account
      that you use for providing Helpouts sessions.

    %p
      Step 2: Upload your provider report here. Click on 'Choose file' and select
      your provider report (check your Downloads folder), then click the 'upload'
      button:
      %form(method='post' action='/graph' enctype='multipart/form-data')
        %input(type='file' name='csv_upload' id='csv_upload')
        %input(type='submit' value='upload')
